---
layout: dashboard
title: Po Wish || 個人資料管理
---

<div class="dash-main">
  <div class="dash-wraper">
    <div class="sub-navi">

      <!-- 使用者個人資料 -->
      <div class="personal-info">
        <div class="basic">
          <!-- 頭像 -->
          <div class="avatar">
            <img src="../img/dummy-avatar.jpg" alt="" class="img-circle img-responsive">
          </div>
          <!-- 名字 -->
          <div class="name">
            <span><%= data.member.firstname %> <%= data.member.lastname %></span>
          </div>
        </div>
        <div class="numbers">
          <div class="left">
            <span class="title">願望數</span><br/>
            <span class="num">12K</span>
          </div>
          <div class="center">
            <span class="title">關注人數</span><br/>
            <span class="num">148</span>
          </div>
          <div class="right">
            <span class="title">粉絲人數</span><br/>
            <span class="num">6K</span>
          </div>
        </div>
      </div><!-- end of personal-info -->

      <!-- 管理界面選單 -->
      <div class="navi-list">
        <ul>
          <!-- <a class="active" href="#"><li>最新動態<span><i class="fa fa-chevron-right"></i></span></li></a> -->
          <a href="./"><li>我關注的人<span class="chevron"><i class="fa fa-chevron-right"></i></span></li></a>
          <a class="" href="./followed_events.html"><li>我關注的活動<span class="chevron"><i class="fa fa-chevron-right"></i></span></li></a>
          <a class="" href="./followed_wishes.html"><li>我關注的願望<span class="chevron"><i class="fa fa-chevron-right"></i></span><span class="badge">1</span></li></a>
          <a href="./fans.html"><li>我的粉絲<span class="chevron"><i class="fa fa-chevron-right"></i></span><span class="badge">3</span></li></a>
          <a href="./wishes.html"><li>我的願望<span class="chevron"><i class="fa fa-chevron-right"></i></span><span class="badge">1</span></li></a>
          <a href="./events.html"><li>我的活動<span class="chevron"><i class="fa fa-chevron-right"></i></span></li></a>
          <a class="active" href="./comments.html"><li>我的留言<span class="chevron"><i class="fa fa-chevron-right"></i></span></li></a>
        </ul>

      </div>

    </div>
    <div class="main-panel">

      <!-- 我的留言 -->
      <h3>我的留言</h3>
      <div class="inner">

        <%= partial "partials/dashboard/comments" %>

      </div><!-- e/o inner -->

    </div><!-- e/o info-panel -->
  </div>
</div>
