<!-- dialog -->
    <div class="confirm_dialog-wrapper">
      <h3>確定要在這裡許下願望嗎？</h3>
    </div>
    <form class="form-horizontal" role="form">

      <!-- 願望內容表單 -->
      <div class="form-wraper">
        <h4><i class="fa fa-map-marker fa-lg"></i> 目前的許願地點是：</h4>
        <input type="text" class="form-control" rows="3" placeholder="填入地點或隨機地點許願" value="台北火車站">
        <button type="button" class="form-change">更改地點</button>
      </div>

      <!-- submit -->
      <div class="button-wraper">
        <button type="button" class="form-submit w100p">送出願望</button>
      </div>


    </form>
