<div class="is_user">

  <!-- 左半部的 Logo -->
  <div class="ctrl-logo">

    <div class="wraper">

      <img src="./img/ctrl-logo.png" alt="" class="img-responsive">

    </div>

  </div><!-- e/o .ctrl-logo -->

  <!-- 使用者選項 => 登入, 註冊 -->
  <div class="ctrl-main">

    <div class="wraper">

      <div class="options">

        <div class="sign-up_button">
          <a href="#" title="註冊新帳號" data-toggle="tooltip" data-placement="top">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>

        <div class="sign-in_button">
          <a href="#" title="使用者登入">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-key fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>

      </div>

    </div>

  </div><!-- e/o .ctrl-main -->

  <!-- 右半部 個人頁面 -->
  <div class="ctrl-right">

    <div class="wraper">

      <a id="accountManage" href="#" data-toggle="tooltip" data-placement="top" title="帳號管理">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <span class="badge pull-right"></span>

    </div>

  </div><!-- e/o .ctrl-right -->

</div><!-- e/o .not_user -->
