<div class="is_user">

  <!-- 左半部的 Logo -->
  <div class="ctrl-logo">

    <div class="wraper">

      <img src="./img/ctrl-logo.png" alt="" class="img-responsive">

    </div>

  </div><!-- e/o .ctrl-logo -->

  <!-- 中央應用控制區 -->
  <div class="ctrl-main">

    <div class="wraper">

      <div class="options">

        <a href="#" class="marker-wish" title="wish 測試用" data-toggle="tooltip" data-placement="top">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="#" id="makeWishBtn" title="許下願望" data-toggle="tooltip" data-placement="top">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="#" class="marker-event" title="event 測試用" data-toggle="tooltip" data-placement="top">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <!-- <a href="#" title="我的位置" data-toggle="tooltip" data-placement="top">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
          </span>
        </a>
 -->

      </div>

    </div>

  </div><!-- e/o .ctrl-main -->

  <!-- 右半部 帳號控制區 -->
  <div class="ctrl-right">

    <div class="wraper">

      <a id="sign_out" href="#" data-toggle="tooltip" data-placement="top" title="登出">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <a id="accountManage" href="#" data-toggle="tooltip" data-placement="top" title="帳號管理">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
      </a>

      <!-- 訊息通知欄位 -->
      <span class="label label-info">New</span>

    </div>

  </div><!-- e/o .ctrl-right -->

</div><!-- e/o .not_user -->
