<div class="landing">

  <!-- landing page 內容 -->
  <div class="lp-content">

    <!-- logo -->
    <div class="lp-logo">
      <div class="logo">
        <img class="img-responsive" src="./img/landing-logo.png" alt="Po Wish">
      </div>
    </div>

    <!-- facebook 登入按鈕，js -> fbLoginBtn，登入成功後 call showMap() & loadCtrlBoard() -->
    <a class="login-button" href="#">
      <%= data.basic.landing.login %>
    </a>

  </div><!-- e/o .lp-content -->

</div><!-- e/o .landing -->
