<div class="landing">

  <!-- landing page 內容 -->
  <div class="lp-content">

    <!-- logo -->
    <div class="lp-logo">
      <div class="logo">
        <img class="img-responsive" src="./img/landing-logo.png" alt="Po Wish">
      </div>
    </div>

    <!-- slogan -->
    <div class="lp-slogan">
      <!-- <h5>讓願望成真</h5> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

  </div><!-- e/o .lp-content -->

</div><!-- e/o .landing -->
