<!-- 主要界面, js -> mainUI -->
<div class="mainUI">

  <div class="overlay"></div>

  <!-- GoogleMap, js -> mapCanvas -->
  <div id="map" class="map"></div>

  <!-- 使用者頭像，用於切換類別 -->
  <a href="#" id="change_category" class="avatar" title="切換活動與願望顯示類別" data-toggle="tooltip" data-placement="top">
    <img class="img-responsive img-circle" src="./img/dummy-avatar.jpg" alt="">
  </a>

  <!-- 許願表單， js -> makeWishForm -->
  <div class="make-wish">
    <%= partial "partials/make_wish_form" %>
  </div>

  <!-- 詳細資料面板，願望或活動詳細內容顯示區， js -> infoPanel -->
  <div class="info-panel">



  </div>

</div>
