<!-- 主要界面, js -> mainUI -->
<div class="mainUI">

  <!-- 黑幕 -->
  <div class="overlay"></div>
  <div class="overlay-lv2"></div>


  <div class="top-bar navbar navbar-default" role="navigation">

      <div class="left">

        <a href=# class="fa-stack fa-lg test-listView">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-list fa-stack-1x fa-inverse"></i>
        </a>

        <a href=# class="fa-stack fa-lg test-confirmDialog">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
        </a>

      </div>

      <div class="center">
        <div class="top-logo">
          <img src="./img/ctrl-logo.png" alt="" class="img-responsive">
        </div>
      </div>

      <ul class="nav navbar-nav right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, <%= data.member.firstname %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="./dashboard/"><i class="fa fa-dashboard fa-lg"></i> Dashboard</a></li>
            <li class="divider"></li>
            <li><a id="sign_out" href="#"><i class="fa fa-sign-out fa-lg"></i> 登出</a></li>
          </ul>
        </li>
      </ul>
  </div>

  <!-- GoogleMap, js -> mapCanvas -->
  <div id="map" class="map"></div>


  <!-- 使用者頭像，用於切換類別 -->
  <a href="#" id="change_category" class="avatar" title="切換活動與願望顯示類別" data-toggle="tooltip" data-placement="top">
    <img class="img-responsive img-circle" src="./img/dummy-avatar.jpg" alt="">
  </a>

  <%= partial "partials/panels" %>

</div><!-- e/o mainUI -->
