<!-- 主要界面, js -> mainUI -->
<div class="mainUI cant-touch">

  <div class="overlay"></div>
  <div class="overlay-lv2"></div>


  <!-- GoogleMap, js -> mapCanvas -->
  <div id="map" class="map"></div>

  <!-- 使用者頭像，用於切換類別 -->
  <a href="#" id="change_category" class="avatar" title="切換活動與願望顯示類別" data-toggle="tooltip" data-placement="top">
    <img class="img-responsive img-circle" src="./img/dummy-avatar.jpg" alt="">
  </a>

  <!-- 許願表單， js -> makeWishForm -->
  <div class="make-wish">
<%= partial "partials/make_wish_form" %>
  </div>

  <!-- 詳細資料面板，願望或活動詳細內容顯示區， js -> infoPanel -->
  <div class="info-panel">

    <!-- 願望詳細內容 -->
    <div class="wish-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 按鈕們 -->
      <div class="option-buttons">
        <div class="row">
          <div class="observe">
            <button><i class="fa fa-star-o fa-lg"></i> 關注願望</button>
          </div>
        </div>
        <div class="row">
          <div class="share"><button>分享 <i class="fa fa-share-alt"></i></button></div>
          <div class="host"><button>實現 <i class="fa fa-magic"></i></button></div>
          <div class="comment"><button>留言 <i class="fa fa-comment"></i></button></div>
        </div>
      </div>

    </div>

    <!-- 活動詳細內容 -->
    <div class="event-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 按鈕們 -->
      <div class="option-buttons">
        <div class="row">
          <div class="observe">
            <button><i class="fa fa-star fa-lg"></i> 關注活動</button>
          </div>
        </div>
        <div class="row">
          <div class="share"><button>分享 <i class="fa fa-share-alt"></i></button></div>
          <div class="join"><button>參加 <i class="fa fa-hand-o-up"></i></button></div>
          <div class="comment"><button>留言 <i class="fa fa-comment"></i></button></div>
        </div>
      </div>

    </div>

  </div>

  <!-- 熱門活動與願望、附近活動與願望 -->
  <div class="list-view">

  </div>

  <!-- 分享視窗 -->
  <div class="share-form">
<%= partial "partials/share_form" %>
  </div>

</div>
