<div class="not_user">

  <div class="ctrl-logo">

    <div class="wraper">

      <img src="./img/ctrl-logo.png" alt="" class="img-responsive">

    </div>

  </div>

  <div class="ctrl-main">

    <div class="wraper">

      <div class="options">

        <div class="sign-in_button">
          <a href="#">登入</a>
        </div>

        <div class="sign-up_button">
          <a href="#">註冊</a>
        </div>

      </div>

    </div>

  </div>

  <div class="ctrl-right">

    <div class="wraper">

      <a href="#">忘記密碼？</a>

    </div>

  </div>

</div>
