<!-- 熱門活動與願望、附近活動與願望，列表界面 -->
  <div class="list-view">

  </div><!-- e/o list-view -->


  <!-- 詳細資料面板，願望或活動詳細內容顯示區， js -> infoPanel -->
  <div class="info-panel">

    <!-- 願望詳細內容 -->
    <div class="wish-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 按鈕們 -->
      <div class="option-buttons">
        <div class="row">
          <div class="observe">
            <button><i class="fa fa-star-o fa-lg"></i> 關注願望</button>
          </div>
        </div>
        <div class="row">
          <div class="share"><button><i class="fa fa-share-alt fa-lg"></i> 分享</button></div>
          <div class="host"><button><i class="fa fa-magic fa-lg"></i> 實現</button></div>
          <div class="comment"><button><i class="fa fa-comment fa-lg"></i> 留言</button></div>
        </div>
      </div>

    </div>

    <!-- 活動詳細內容 -->
    <div class="event-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 按鈕們 -->
      <div class="option-buttons">
        <div class="row">
          <div class="observe">
            <button><i class="fa fa-star fa-lg"></i> 關注活動</button>
          </div>
        </div>
        <div class="row">
          <div class="share"><button><i class="fa fa-share-alt fa-lg"></i> 分享</button></div>
          <div class="join"><button><i class="fa fa-hand-o-up fa-lg"></i> 參加</button></div>
          <div class="comment"><button><i class="fa fa-comment fa-lg"></i> 留言</button></div>
        </div>
      </div>

    </div>

  </div><!-- e/o info-panel -->
