<!-- 熱門活動與願望、附近活動與願望，列表界面 -->
  <div class="list-view">

  </div><!-- e/o list-view -->


  <!-- 詳細資料面板，願望或活動詳細內容顯示區， js -> infoPanel -->
  <div class="info-panel">

    <!-- 願望詳細內容 -->
    <div class="wish-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 留言表單 -->
      <form class="form-horizontal" role="form">
        <div class="comment-form">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="buttons">
          <div class="submit-comment"><button type="button">送出留言</button></div>
          <div class="follow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 關注</button></div>
          <div class="share"><button type="button"><i class="fa fa-share-alt fa-lg"></i> 分享</button></div>
          <div class="host"><button type="button"><i class="fa fa-magic fa-lg"></i> 實現</button></div>
        </div>
      </form>
    </div>

    <!-- 活動詳細內容 -->
    <div class="event-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 留言表單 -->
      <form class="form-horizontal" role="form">
      <div class="comment-form">
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="buttons">
        <div class="submit-comment"><button type="button">送出留言</button></div>
        <div class="follow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 關注</button></div>
        <div class="share"><button type="button"><i class="fa fa-share-alt fa-lg"></i> 分享</button></div>
        <div class="join"><button type="button"><i class="fa fa-hand-o-up fa-lg"></i> 參加</button></div>
      </div>
    </form>

    </div>

  </div><!-- e/o info-panel -->
