<!-- 熱門活動與願望、附近活動與願望，列表界面 -->
  <div class="list-view">
    <% 1.times do |f| %>
    <!-- 活動列表元件 -->
    <div class="event-unit listUnit">

      <!-- event 詳細內容 -->
      <div class="content">
        <!-- 日期 -->
        <span class="date"><i class="fa fa-clock-o fa-lg"></i> 2014-08-<%= rand(31) %>（1 天前）<span class="kilo"><i class="fa fa-compress fa-lg"></i> 3.9 公里遠</span></span>
        <!-- 願望（content）或活動（title）標題 -->
        <!-- 依不同類別加入 category class -->
        <div class="inner category-event">
          <p><i><%= data.event.title %></i></p>
          <p class="time-range"><i class="fa fa-calendar fa-lg"></i> <span>2014-09-02</span> ~ <span>2014-09-05</span></p>
        </div>
        <span class="location"><i class="fa fa-map-marker fa-lg"></i> 臺北火車站</span>
      </div><!-- e/o content -->

      <!-- 按鈕 -->
      <div class="buttons">
        <div class="follow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 關注</button></div>
        <div class="join"><button type="button"><i class="fa fa-hand-o-up fa-lg"></i> 加入</button></div>
      </div>

    </div><!-- e/o 活動列表元件 -->
    <% end %>

    <!-- 願望列表元件 -->
    <div class="wish-unit listUnit">

      <!-- event 詳細內容 -->
      <div class="content">
        <!-- 日期 -->
        <span class="date"><i class="fa fa-clock-o fa-lg"></i> 2014-08-20（1 天前）<span class="kilo"><i class="fa fa-compress fa-lg"></i> 3.9 公里遠</span></span>
        <!-- 願望（content）或活動（title）標題 -->
        <!-- 依不同類別加入 category class -->
        <div class="inner category-eat">
          <p><i><%= data.event.content %></i></p>
        </div>
        <span class="location"><i class="fa fa-map-marker fa-lg"></i> 臺北火車站</span>
      </div><!-- e/o content -->

      <!-- 按鈕 -->
      <div class="buttons">
        <div class="follow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 關注</button></div>
        <div class="host"><button type="button"><i class="fa fa-magic fa-lg"></i> 實現</button></div>
      </div>

    </div><!-- e/o 願望列表元件 -->

    <!-- reload button -->
    <div class="listview-reload">
      <button class="reloadBtn"><i class="fa fa-repeat fa-lg"></i> 讀取更多</button>
    </div>

  </div><!-- e/o list-view -->


  <!-- 詳細資料面板，願望或活動詳細內容顯示區， js -> infoPanel -->
  <div class="info-panel">

    <!-- 願望詳細內容 -->
    <div class="wish-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 留言表單 -->
      <form class="form-horizontal" role="form">
        <div class="comment-form">
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="buttons">
          <div class="submit-comment"><button type="button">送出留言</button></div>
          <!-- <div class="unfollow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 取消關注</button></div> -->
          <div class="follow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 關注</button></div>
          <div class="share"><button type="button"><i class="fa fa-share-alt fa-lg"></i> 分享</button></div>
          <div class="host"><button type="button"><i class="fa fa-magic fa-lg"></i> 實現</button></div>
        </div>
      </form>
    </div>

    <!-- 活動詳細內容 -->
    <div class="event-detail">

      <div class="info-section">
      <!-- ajax 讀入詳細內容 -->
      </div>

      <!-- 留言表單 -->
      <form class="form-horizontal" role="form">
      <div class="comment-form">
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="buttons">
        <div class="submit-comment"><button type="button">送出留言</button></div>
        <!-- <div class="unfollow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 取消關注</button></div> -->
        <div class="follow"><button type="button"><i class="fa fa-star-o fa-lg"></i> 關注</button></div>
        <div class="share"><button type="button"><i class="fa fa-share-alt fa-lg"></i> 分享</button></div>
        <div class="join"><button type="button"><i class="fa fa-hand-o-up fa-lg"></i> 參加</button></div>
      </div>
    </form>

    </div>

  </div><!-- e/o info-panel -->
