<!-- title -->
<h3><i class="fa fa-share-alt fa-lg"></i> 分享給朋友</h3>

    <!-- form -->
    <form class="form-horizontal" role="form">

      <!-- 分享內容-->
      <div class="form-wraper">
        <div class="content">
          <!-- 日期 -->
          <span class="date"><i class="fa fa-calendar fa-lg"></i> 2014-08-25（13 天後）</span>
          <!-- 願望（content）或活動（title）標題 -->
          <div class="inner">
            <p><i><%= data.event.title %></i></p><br />
            <!-- 類別 -->
            <span class="category"><i class="fa fa-cutlery fa-lg"></i> 美食</span>
            <!-- 地點 -->
            <span class="location"><i class="fa fa-map-marker fa-lg"></i> 公館 The wall</span>
          </div>
        </div><!-- e/o content -->
      </div>

      <div class="button-wraper">
        <button class="share-fb" type="submit" class="form-cancel"><i class="fa fa-facebook-square fa-lg"></i> 分享到 Facebook</button>
        <button class="share-twitter" type="submit" class="form-cancel"><i class="fa fa-twitter fa-lg"></i> 分享到 Twitter</button>
        <button class="share-weibo" type="submit" class="form-cancel"><i class="fa fa-weibo fa-lg"></i> 分享到 微博</button>
      </div>


    </form>
