<div class="welcome_splash powish-basic trans-07s powish-form-mode">

  <div class="slogan">
    <h3>歡迎來到 Po wish</h3>
    <p>快來許下你的願望，或幫助別人實現願望吧！</p>
    <div class="plus-sign">
      +
    </div>
  </div>

  <div class="form-mode">

    <!-- 取消按鈕 -->
    <div class="powish-close-btn" title="取消">
      ×
    </div>

    <form class="form-horizontal" role="form">

      <!-- 願望內容表單 -->
      <div class="form-wraper">

        <div class="btn-wrapper">
          <div class="category-btn">

            <!-- 加入 selected class 為選擇狀態 -->
            <div class="eat">
              <i class="fa fa-cutlery fa-lg"></i>
            </div>
          </div>
          <div class="category-btn">
            <div class="social">
              <i class="fa fa-users fa-lg"></i>
            </div>
          </div>
          <div class="category-btn">
            <div class="sport">
              <i class="fa fa-dribbble fa-lg"></i>
            </div>
          </div>
          <div class="category-btn">
            <div class="art">
              <i class="fa fa-photo fa-lg"></i>
            </div>
          </div>
        </div>

        <h4><i class="fa fa-pencil fa-lg"></i> 我想要...</h4>
        <textarea class="form-control" rows="3"></textarea>
        <!-- 願望地點顯示欄位 -->
        <h4><i class="fa fa-map-marker fa-lg"></i> 目前的許願地點是：</h4>
        <input type="text" class="form-control" rows="3" placeholder="隨機地點許願">
      </div>

      <!-- submit -->
      <div class="button-wraper">
        <button type="button" class="form-submit w100p">送出願望！</button>
      </div>

    </form>

  </div>

  <div class="btn-mode">
    +
  </div>
</div>
