.dash-wraper
  width: 960px
  @extend %m0auto
  +clearfix


.dash-nav
  @extend %w100p
  height: 44px
  background-image: url("../img/groovepaper.png")
  border-bottom: 1px solid #ccc
  +box-shadow(0 2px 10px #555)
  position: fixed
  top: 0
  .left
    float: left
    padding-top: 8px
    +span(4)
  .center
    font-size: $fz-l
    color: darken($c-landing, 30%)
    font-weight: bold
    text-align: center
    +span(4)
    padding-top: 8px
  .right
    float: right
    text-align: right
    +span(4)
    padding-top: 6px
  .back
    +sassy-button("flat", 3px, $fz-s, $c-landing, $c-landing, #fff, "inset")
    font-weight: bold
  .user-avatar
    float: left
    width: 50px
    height: 50px
    padding: 5px
    background-color: #FFF
    +border-radius(50%)



.dash-main
  padding-top: 80px
  min-height: 100%
  background-image: url("../img/wood2.png")
  .dash-wraper
    padding: 0 2em
  .sub-navi
    +span(4)
    margin-top: 50px
    background-color: $c-ctrl_board
    +border-left-radius(10px)
    border: 1px solid darken($c-ctrl_board, 20%)
  .personal-info
    margin-top: 10px
    padding-bottom: 10px
    +span(12)
    .basic
      +span(12)
      +clearfix
      padding-bottom: 10px
      // border-bottom: 1px solid lighten($c-ctrl_board, 30%)
    .avatar
      width: 75px
      height: 75px
      padding: 5px
      float: left
      background-color: #FFF
      +border-radius(50%)
    .name
      width: 180px
      float: left
      color: darken($c-ctrl_board, 50%)
      margin: 30px 0 0 8px
  .numbers
    +clearfix
    .left, .center, .right
      +span(4)
      font-size: $fz-s
      text-align: center
    .title
      color: darken($c-ctrl_board, 30%)
    .num
      font-size: $fz-l
      font-weight: bold
      color: darken($c-landing, 25%)
  .buttons
    margin-top: 0.5em
    .follow
      width: 100%
      +sassy-button("flat", 3px, $fz-s, darken($c-yellow, 20%), $btn-primary, #fff, "inset")
    .unfollow
      width: 100%
      +sassy-button("flat", 3px, $fz-s, darken($c-ctrl_board, 15%), $btn-primary, #fff, "inset")
  .navi-list
    +clearfix
    ul
      display: block
      list-style: none
      margin-top: 20px
      a
        display: block
        +transition(0.5s)
        &:hover
          text-decoration: none
          background-color: rgba(black, 0.1)
        &:last-child
          li
            border: none
      li
        display: block
        padding: 8px 0
        padding-left: 8px
        border-bottom: 1px solid darken($c-ctrl_board, 15%)
        span
          float: right
          margin-right: 16px
          +transition(0.5s)
        &:hover
          .chevron
            margin-right: 8px
    .active
      background-color: rgba(black, 0.1)



  .main-panel
    +span(8)
    padding: 0
    background-image: url("../img/light_noise_diagonal.png")
    margin-bottom: 20px
    padding-bottom: 20px
    border: 1px solid #fff
    min-height: 500px
    +box-shadow(0 0 15px #999)
    +border-radius(5px)
    h3
      margin: 0 0 20px 0
      +border-top-radius(5px)
      @extend %panelTitle
      width: 100%
    .inner
      padding: 0 10px


    .follow-unit
      +span(6)
      padding: 10px
    .follow-info
      background-color: #fff
      padding-bottom: 1em
      +box-shadow(0 0 5px #ccc)
      +transition(0.3s)
      &:hover
        +box-shadow(0 0 8px #999)
    .pic-and-name
      padding: 8px
      margin-bottom: 8px
      background-color: darken($c-ctrl_board, 10%)
      border-bottom: 3px solid darken($c-ctrl_board, 20%)
      +clearfix
      &:hover
        background-color: darken($c-ctrl_board, 6%)
      .pic
        width: 44px
        height: 44px
        padding: 3px
        +border-radius(50%)
        background-color: #FFF
        float: left
      .name
        float: left
        width: 180px
        font-size: $fz-s
        font-weight: bold
        margin: 15px 0 0 10px
        color: darken($c-ctrl_board, 50%)
    .news
      padding: 0.5em
      font-size: $fz-s
      color: #777
      padding-bottom: 1.3em
    .latest-content
      background-color: #eee
      padding: 1em
      max-height: 4em
      overflow: scroll
    .button
      padding: 0 0.5em
      button
        width: 100%
        font-weight: bold
      .cancel
        +sassy-button("flat", 3px, $fz-s, darken($c-ctrl_board, 15%), $btn-primary, #fff, "inset")
      .follow
        +sassy-button("flat", 3px, $fz-s, darken($c-yellow, 20%), $btn-primary, #fff, "inset")


    .wish-unit, .event-unit, .comment-unit
      +span(6)
      padding: 10px
    .wish-info, .event-info, .comment-info
      background-color: #fff
      min-height: 150px
      padding-bottom: 1em
      +box-shadow(0 0 5px #ccc)
      +transition(0.3s)
      &:hover
        +box-shadow(0 0 8px #999)
      a:hover
        text-decoration: none
      .numbers
        margin: 0.5em 0
      .date
        background-color: lighten($c-landing, 5%)
        color: #fff
        +text-shadow(0 -1px 1px #aaa)
        text-align: center
        padding: 0.5em
        &:hover
          background-color: lighten($c-landing, 10%)
      .wish-content, .event-content, .comment-content
        font-size: $fz-s
        padding: 0.5em
        padding-bottom: 1em
        +clearfix
        .wraper
          background-color: #eee
          padding: 1em
          color: #777
          margin-top: 5px
          &:hover
            background-color: lighten(#eee, 2%)
        .wish-category, .wish-location, .event-category, .event-location
          margin-top: 0.5em
          color: $c-subinfo
        .wish-category, .event-category
          +span(3)
        .wish-location, .event-location
          +span(9)
          text-align: right
      .target
        color: #aaa
      .comment-content
        margin-top: 0.5em
        span
          color: #777
          overflow: scroll
          display: block
          width: 100%
          height: 5em
          +border-radius(8px)
          padding: 0.5em
          border: 1px solid #ddd
