// *************************************
//
//   pages/index
//
//
// *************************************

body, html, .main_content
  @extend %h100p


// 第一層基本頁面
.landing
  @extend %h100p
  background-color: $c-landing
  position: relative

  .lp-content
    padding-top: 40vh
    color: $cs-white
    text-align: center

  .lp-logo
    margin-bottom: 40px
    .logo
      +container(200px)

  .lp-slogan
    +container($w-pad)
    // +text-shadow(0 1px 2px darken($c-landing, 40%))
    h5
      font-size: $fz-l
    p
      margin: 1em 0 0 0
      color: lighten($c-landing, 25%)



// 控制版基本外觀
.ctrl_board
  @extend %w100p
  height: 160px
  margin-bottom: -80px
  background-color: $c-ctrl_board
  border-top: 1px solid #fff
  +box-shadow(0 0 3px rgba(#000, 0.5))
  position: fixed
  bottom: 0

.not_user
  @extend %span12
  .ctrl-logo
    +span(2)
    padding-top: 27px
  .ctrl-main
    +span(8)
    padding-top: 27px
    .options
      +container($w-mobile)
    .sign-in_button, .sign-up_button
      +span(6)
      text-align: center
  .ctrl-right
    +span(2)
    padding-top: 27px
    text-align: right
    a
      font-size: $fz-s
      color: darken($c-ctrl_board, 30%)
      +transition(color 0.5s)
      &:hover
        color: darken($c-ctrl_board, 50%)
        text-decoration: none
