// *************************************
//
//   pages/index
//   index 頁面設定
//
// *************************************

.site-header
  background-color: $wl-lightgrey
  position: relative
  height: 3em
  padding-top: 0.7em
  border-bottom: 1px solid darken($wl-lightgrey, 5%)
  text-align: center
  font-weight: normal
  z-index: index($elements, header)
  +breakpoint($b-mobile)
    height: 5em
    padding-top: 1.3em

  h1
    color: $wl-pink
    font-size: $fz-xl
    margin-top: 0
    +breakpoint($b-mobile)
      font-size: $fz-xxl


.site-main
  height: 300px


.site-footer
  height: 2em
  position: relative
  background: darken($wl-pink, 5%) image-url('asset/footer-stripe.png')
  border-top: 2px solid lighten($wl-pink, 20%)
  z-index: index($elements, footer)
  +breakpoint($b-mobile)
    height: 3em


.index
  .main_map
    position: relative
    @extend #map
    //壓地圖材質

  #map
    height: 300px
    +breakpoint($b-mobile)
      height: 600px

  %overlay
    position: absolute
    top: 0
    left: 0

  .overlay
    @extend %overlay
    @extend #map
    width: 100%
    background-color: rgba(black, 0.5)

  #discover-trigger
    width: 88px
    height: 88px
    +breakpoint($b-mobile)
      width: 120px
      height: 120px

  .avatar
    position: absolute
    margin: -88px 0 0 -44px
    width: 88px
    height: 88px
    top: 50%
    left: 50%
    img
      border: 5px solid #fff
    +breakpoint($b-mobile)
      width: 120px
      height: 120px
      margin: -120px 0 0 -60px

  .ui
    @extend %overlay
    @extend #map
    width: 100%

    .login-button
      +sassy-button("flat", 5px, 1em, $btn-action, "inset")
      font-weight: bold
      position: absolute
      text-align: center
      display: block
      width: 200px
      margin-left: -100px
      left: 50%
      top: 58%
      +breakpoint($b-mobile)
        margin-top: -20px

  .isUser
    display: none
    z-index: index($elements, ui)
    // pointer-events: none
    .username
      @extend %overlay
      width: 100%
      color: $color-username
      text-align: center
      +text-shadow(black 0 0 5px)
      font-weight: bold
      font-size: $fz-l
      top: 55%
      pointer-events: none
      +breakpoint($b-mobile)
        top: 50%

    %point
      width: 44px
      height: 44px
      text-align: center
      color: white
      font-size: $fz-m
      padding-top: 0.6em
      +border-radius(100px)

    .wish-point
      @extend %overlay
      @extend %point
      background-color: rgba($color-wishPoint, 0.8)
      top: 55%
      left: 55%

    .event-point
      @extend %overlay
      @extend %point
      background-color: rgba($color-eventPoint, 0.8)
      top: 35%
      left: 35%

  .detail
    @extend #map
    position: relative
    width: $w-mobile
    background-color: $color-detailPanel
    float: right
    z-index: index($elements, detail-panel)




