<nav class="dash-nav">

  <div class="dash-nav-wraper">
    <div class="left">
      <img src="../img/ctrl-logo.png" alt="" class="img-responsive">
    </div>

    <div class="center">
      <p>會員資料管理</p>
    </div>

    <div class="right">
      <a href="../" class="back">回到 Powish</a>
    </div>
  </div>

</nav>
