<nav class="dash-nav">

  <div class="dash-wraper">
    <div class="left">
      <img src="../img/ctrl-logo.png" alt="" class="img-responsive">
    </div>

    <div class="center">
      <p>詳細內容</p>
    </div>

    <div class="right">
      <a onClick="javascript:history.back()" class="back"><i class="fa fa-angle-double-left fa-lg"></i> 返回上一頁</a>
    </div>
  </div>

</nav>
