---
title: Wish.Land - 非會員頁面
---

<!-- START from here! -->
<div class="qrow index">
  <!-- main function view -->
  <div class="map">
    <!-- map -->
    <div id="map" class="blur"></div>
    <!-- overlay -->
    <div class="overlay">
    </div>
    <div class="ui">
        <div class="avatar">
          <a id="discover-trigger" href="#">
            <img src="<%= lorem.image('120x120', :text => "Discover Mode") %>" alt="" class="avatar img-responsive img-circle">
          </a>
        </div>
        <a href="#" class="login-button">立即登入</a>
    </div>
  </div>
</div>

