---
title: Po Wish
---

<div class="main_content">

<!-- 如果是非登入使用者，看到 landing page -->
<%= partial "partials/landing" %>

<!-- 如果是登入使用者，看到 map -->
<%= partial "partials/map" %>

</div><!-- e/o .main_content -->
