---
title: Wish.Land - 非會員頁面
---

<!-- START from here! -->
<div class="qrow index">
  <!-- main function view -->
  <div class="main_map">
    <!-- map -->
    <div id="map" class="blur trans-1s"></div>
    <!-- black overlay -->
    <div class="overlay">
      <!-- detail info panel -->
      <div id="wish001" class="detail trans-1s off-canvas box-shadow">
        <!-- panelNav -->
        <div class="back">
          <a class="panelNav" href="#"><i class="fa fa-arrow-left"></i> 回上一頁</a>
        </div>

        <!-- category -->
        <div class="category">
          1
        </div>

        <!-- location -->
        <div class="location">
          1
        </div>

        <!-- time -->
        <div class="time">
          1
        </div>

        <!-- list -->
        <div class="list">
          1
        </div>

        <!-- host button -->
        <div class="button">
          1
        </div>

      </div><!-- end of detail info panel -->

      <!-- <div id="event001" class="detail trans-1s off-canvas box-shadow">

      </div> -->
    </div><!-- end of black overlay -->

    <!-- landing UI -->
    <div class="ui">
        <div class="avatar">
          <a id="discover-trigger" href="#">
            <img src="<%= lorem.image('120x120', :text => "Discover") %>" alt="" class="img-responsive img-circle box-shadow">
          </a>
        </div>
        <a href="#" class="trans-05s login-button">立即登入</a>
    </div><!-- end of landing UI -->

    <!-- isUser UI -->
    <div class="isUser">
      <div class="avatar">
        <a href="#wish-category">
          <img src="<%= lorem.image('120x120', :text => "Avatar") %>" alt="" class="img-responsive img-circle box-shadow">
        </a>
      </div>
      <div class="username">
        <span>FunnyQ</span>
      </div>
      <!-- fake points -->
      <a href="#" class="wish-point" data-wish="wish001"><i class="fa fa-coffee"></i></a>
      <a href="#" class="event-point" data-event="event001"><i class="fa fa-cutlery"></i></a>
    </div><!-- end of isUser UI -->

  </div><!-- end of main function view -->

</div>

