---
title: Wish.Land - 非會員頁面
---

<!-- START from here! -->
<div class="qrow index">
  <!-- main function view -->
  <div class="map">
    <!-- map -->
    <div id="map" class="blur"><img src="<%= lorem.image('120x120') %>" alt="" class="avatar img-responsive img-circle"></div>
    <!-- overlay -->
    <div class="overlay">
    </div>
    <div class="ui">
        <img src="<%= lorem.image('120x120') %>" alt="" class="avatar img-responsive img-circle">
    </div>
  </div>
</div>

