---
title: Wish.Land - 非會員頁面
---

<!-- START from here! -->
<div class="qrow index">
  <!-- main function view -->
  <div class="map">
    <!-- map -->
    <div id="map"></div>
    <!-- overlay -->
    <div class="overlay">

      <div class="avatar">
        <img src="<%= lorem.image('200x200') %>" alt="" class="img-responsive img-circle">
      </div>

    </div>
  </div>
</div>

