<div id="event-creator" class="detail trans-1s off-canvas box-shadow">
  <!-- panelNav -->
  <div class="back">
    <a class="panelNav" href="#"><i class="fa fa-arrow-left"></i> 取消</a>
  </div>

  <!-- title -->
  <div class="event-title trans-05s">
    <div class="icon">
      <i class="fa fa-ticket fa-lg"></i>
    </div>
    <div class="info">
      <h4>活動名稱</h4>
      <input type="text" class="form-control" value="" placeholder="ex. 啤酒喝到飽...">
    </div>
  </div>

  <!-- category -->
  <div class="category trans-05s">
    <div class="icon">
      <i class="fa fa-info-circle fa-lg"></i>
    </div>
    <div class="info">
      <h4>類型</h4>
      <select class="form-control">
        <option>聊天喝咖啡 <i class="fa fa-coffee"></i></option>
        <option>美食鑑賞會</option>
        <option>K 歌大會</option>
        <option>Home Party</option>
      </select>
    </div>
  </div>

  <!-- location -->
  <div class="location trans-05s">
    <div class="icon">
      <i class="fa fa-map-marker fa-lg"></i>
    </div>
    <div class="info">
      <h4>地點</h4>
        <input type="text" class="form-control" value="" placeholder="尋找附近地點...">
    </div>
  </div>

  <!-- time -->
  <div class="time trans-05s">
    <div class="icon">
      <i class="fa fa-clock-o fa-lg"></i>
    </div>
    <div class="info">
      <h4>活動開始時間</h4>
      <input type="date" class="form-control" value="" placeholder="輸入希望的時間">
    </div>
  </div>

  <!-- number -->
  <div class="number trans-05s">
    <div class="icon">
      <i class="fa fa-users fa-lg"></i>
    </div>
    <div class="info">
      <h4>活動人數</h4>
      <input type="number" class="form-control" value="" placeholder="請輸入人數">
    </div>
  </div>

  <!-- cost -->
  <div class="cost trans-05s">
    <div class="icon">
      <i class="fa fa-money fa-lg"></i>
    </div>
    <div class="info">
      <h4>參加費用</h4>
      <input type="number" class="form-control" value="" placeholder="留空為免費參加">
    </div>
  </div>

  <!-- host button -->
  <a href="#login" class="button trans-05s" data-toggle="modal" data-target="#login-form">
    <i class="fa fa-flag"></i> 建立活動
  </a>

</div>
