<div id="wish001" class="detail trans-1s off-canvas box-shadow">
  <!-- panelNav -->
  <div class="back">
    <a class="panelNav" href="#"><i class="fa fa-arrow-left"></i> 回到地圖</a>
  </div>

  <!-- category -->
  <div class="category trans-05s">
    <div class="icon">
      <i class="fa fa-info-circle fa-lg"></i>
    </div>
    <div class="info">
      <h4>類型</h4>
      <p>聊天喝咖啡</p>
    </div>
  </div>

  <!-- list -->
  <div class="list trans-05s">
    <div class="qrow">
      <div class="icon">
        <i class="fa fa-comments-o fa-lg"></i>
      </div>
      <div class="info">
        <h4>Wish List</h4>
      </div>
    </div>

    <div class="wishes qrow">
    <% 10.times do |q| %>
      <div class="wishes-unit qrow">
        <div class="wishes-avatar">
          <img src="<%= lorem.image('120x120', :text => "Avatar") %>" alt="" class="img-responsive img-circle">
          <p><%= lorem.last_name %></p>
        </div>
        <div class="comment">
          <p><%= lorem.sentence %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <!-- location -->
  <!-- <div class="location trans-05s">
    <div class="icon">
      <i class="fa fa-map-marker fa-lg"></i>
    </div>
    <div class="info">
      <h4>地點</h4>
      <p>台北市松山區南京東路四段 2 號</p>
    </div>
  </div> -->

  <!-- time -->
  <div class="time trans-05s">
    <div class="icon">
      <i class="fa fa-clock-o fa-lg"></i>
    </div>
    <div class="info">
      <h4>希望時間</h4>
      <p>2014-07-15 ～ 2014-07-29</p>
    </div>
  </div>

  <!-- host button -->
  <a href="#login" class="button trans-05s" data-toggle="modal" data-target="#login-form">
    <i class="fa fa-flag"></i> Make it happen
  </a>

</div>
