// *************************************
//
//   Basic layout
//   基本排版設定
//
// *************************************

// a row container
.row
  +break

.wraper
  +container(full)

// a row container
%span12
  +span(12)

// height 100%
%h100p
  height: 100%

// width 100%
%w100p
  width: 100%
.w100p
  @extend %w100p

// m0 auto centering
%m0auto
  margin: 0 auto
